h1 {
	color: white;
}

.fixed-bottom {
	color: white;
}

.btn {
	border: 1px solid #fff;
	color: white;
}

.playing {
	border: 2px solid #000;
}

@media only screen and (max-width: 992px) {
  
  .lebar {
  	letter-spacing: 6px;
  	text-align: left;
  	float: left;
  }
}
